<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="/assets/Blogger_32.ico">

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html {
            height: 100%;
        }

        body {
            margin: 0;
            height: 100%;
            background: #efefef;
            word-break: break-all;
            overflow: hidden;
        }

        header {
            text-align: center;
        }

        .blogName {
            margin: 30px auto;
            padding: 0 40px;
            color: #fff;
            background: #222;
            border-bottom: none;
            vertical-align: top;
            line-height: 36px;
            font-size: 20px;
            font-weight: normal;
            font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
            display: inline-block;
            cursor: pointer;
        }

        .blogName:hover {
            background: #111;
        }

        .article {
            width: 980px;
            background: white;
            padding: 50px;
            margin: 100px auto;
            box-sizing: border-box;
            box-shadow: 0 0 3px rgba(0, 0, 0, .3);
            border-radius: 10px;
        }

        .article ul {
            padding-left: 13px;
            border-left: 4px solid #f5f5f5;
        }

        .yearArticle {
            font-size: 16px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px dashed #ccc;
            cursor: pointer;
            color: #bbb;
        }

       .yearArticle:hover {
            color: #555;
            border-bottom: 1px dashed #666;
        }

        .article a {
            color: #555;
            text-decoration: none;
        }

        .article a:hover {
            color: #111;
            text-decoration: none;
        }

        .date {
            width: 80px;
            padding-top: 3px;
            font-size: 13px;
            float: left;
            color: #aaa;
        }

        .headband {
            height: 3px;
            background: #222;
        }

        .tab {
            width: 24px;
            height: 24px;
            background: #222;
            position: fixed;
            right: 30px;
            bottom: 50px;
            padding: 5px;
            box-sizing: border-box;
            cursor: pointer;
            z-index: 100;
        }

        .tabList div {
            width: 14px;
            height: 2px;
            background: #fff;

        }

        .tabList div:first-child {
            margin-bottom: 3px;
        }

        .tabList div:last-child {
            margin-top: 3px;
        }

        .tab:hover .tabList > div:first-child {
            transform: rotate(-35deg);
            -ms-transform: rotate(-35deg); /* IE 9 */
            -moz-transform: rotate(-35deg); /* Firefox */
            -webkit-transform: rotate(-35deg); /* Safari 和 Chrome */
            -o-transform: rotate(-35deg); /* Opera */
            transition: width 0.3s;
            width: 8px;
            margin-top: 2px;
            margin-bottom: 1px;

        }

        .tab:hover .tabList > div:last-child {
            transform: rotate(35deg);
            -ms-transform: rotate(35deg); /* IE 9 */
            -moz-transform: rotate(35deg); /* Firefox */
            -webkit-transform: rotate(35deg); /* Safari 和 Chrome */
            -o-transform: rotate(35deg); /* Opera */
            transition: width 0.3s;
            width: 8px;
            margin-top: 1px;
            margin-bottom: 2px;

        }

        .rightBar {
            position: absolute;
            top: 0;
            transition: right 0.4s;
            right: -320px;
            width: 320px;
            height: 100%;
            background: #222;
        }

        .tabListClick div {
            width: 14px;
            height: 2px;
            background: #fff;
        }

        .tabListClick div:first-child {
            transition: margin-bottom 0.4s;
            margin-top: 6px;
            transform: rotate(-45deg);
            -ms-transform: rotate(-45deg); /* IE 9 */
            -moz-transform: rotate(-45deg); /* Firefox */
            -webkit-transform: rotate(-45deg); /* Safari 和 Chrome */
            -o-transform: rotate(-45deg); /* Opera */
        }

        .tabListClick div:nth-child(2) {
            display: none;
        }

        .tabListClick div:last-child {
            transition: margin-bottom 0.4s;
            margin-bottom: 6px;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg); /* IE 9 */
            -moz-transform: rotate(45deg); /* Firefox */
            -webkit-transform: rotate(45deg); /* Safari 和 Chrome */
            -o-transform: rotate(45deg); /* Opera */
        }

        footer {
            position: absolute;
            width: 100%;
            bottom: 40px;
            text-align: center;
            color: #999;
        }

        .rightContent {
            margin: 20px auto;
            width: 200px;
            text-align: center;
        }

        .titleImg {
            margin: 10px auto;
            width: 100px;
            height: 100px;
            background: url("/assets/title.jpg");
            background-size: cover;

        }

        .name {
            margin-top: 20px;
            font-size: 15px;
            color: #fff;
        }

        .position {
            margin-top: 20px;
            font-size: 13px;
            color: #999;
        }

        .count {
            margin-top: 20px;
            font-size: 13px;
            color: #999;
        }

        .countNum {
            font-weight: bold;
            font-size: 18px;
        }
        .yearTitle{
            font-size: 16px;
            color: #bbb;
            cursor: pointer;
        }
        .yearTitle:hover{
            color: #222;
        }

        @media screen and (max-width: 980px) {
            .article {
                width: 100%;
                background: white;
                padding: 30px 20px;
                margin: 0;
                box-sizing: border-box;
                box-shadow: 0 0 3px rgba(0, 0, 0, .3);
            }
        }
    </style>
    <title> 橙子客栈 </title>
</head>
<body>
<div id="app" class="wrapper">
    <div class="headband"></div>
    <header><span class="blogName">橙子客栈</span></header>

    <div class="article">
        <ul>

            <% var date = new Date();
            var dateData = date.getFullYear();
            var yearArr = ["2017"];
            var thisItem;
            if (yearArr.length === 0) {
                yearArr.push(dateData.toString());
            }
            yearArr.forEach(function (item) {
                if (item != dateData.toString()) {
                    yearArr.push(dateData.toString());
                }
            })
            %>
            <%
            yearArr = yearArr.reverse();
            yearArr.forEach(function (yearItem) {
                thisItem = yearItem;
            %>

            <li class="yearTitle"><h3><%= thisItem %></h3></li>
            <%
            list.forEach(function(item){
                var title = item.path.split("\\").pop();
                var date = new Date(item.date).toLocaleDateString();
            if (date.substring(6,10) === thisItem) {
                date = date.substring(0,2) + "-" + date.substring(3,4);;
           // if (date.substring(0,4) === thisItem) {
                //date = date.substring(5,9);
            %>

            <li class="yearArticle">
                <a href="<%= title.replace(/.md$/, "") %>"><%= title.replace(/.md$/, "") %></a>
                <span class="date"><%= date %></span>
            </li>

            <% }
            })
            }) %>
        </ul>
    </div>
    <div class="rightBar">
        <div class="rightContent">
            <div class="titleImg"></div>
            <div class="name">Orange-Yi</div>
            <div class="position">前端工程师</div>
            <div class="count">
                <div class="countNum"><%= list.length %></div>
                <div>Article</div>
            </div>
        </div>

    </div>

    <div class="tab">
        <div class="tabList" id="tabList">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <footer>
        <div>&copy;2017 ❤ Orange-Yi &nbsp;&nbsp;&nbsp;&nbsp;蜀ICP备17020635号</div>
    </footer>
</div>
<script>
    window.onload = function () {
        let tab = document.querySelector(".tab");
        let tabList = document.querySelector("#tabList");
        let rightBar = document.querySelector(".rightBar");
        let showRight = false;
        tab.onclick = function () {
            showRight ? showRight = false : showRight = true;
            if (showRight) {
                tabList.className = "tabListClick";
                rightBar.style.transition = "right 0.4s"
                rightBar.style.right = 0;
            } else {
                tabList.className = "tabList";
                rightBar.style.transition = "right 0.4s"
                rightBar.style.right = -320 + "px";
            }

        }


    }


</script>
</body>
</html>